<h1>{{currentUser}}'s Budget</h1>

<div class="row">
  <div class="small-12 columns">
    <div class="small-6 large-6 columns">
      <table>
        <tr>
          <th>Item</th>
          <th>Monthly Cost</th>
          <th>Necessity</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr ng-repeat="budget in budgets">
          <td>{{budget.budgetName}}</td>
          <td>${{budget.monthlyPrice}}</td>
          <td>{{budget.necessityLevel}}</td>
          <td><a href="#" data-reveal-id="budgetEditModal" ng-click="openEdit()">Edit</a></td>
          <td><button ng-click="deleteBudget()">Delete</button></td>
        </tr>
        <tr>
          <th>Calculations</th>
          <th>Monthly Expenses</th>
          <th>Left Over</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>calculations</td>
          <td>${{budgetCalc}}</td>
          <td>left over</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="small-6 large-6 columns">
      <h4>Click items to edit</h4>
      <table>
        <tr>
          <th>Monthly Salary</th>
          <th>Monthly Takehome</th>
          <th>Monthly Remaining</th>
          <th>Money in Stocks</th>
          <th>Additional Incomes</th> <!-- This will be a push into an array or
            maybe its own schema? Upon user creation, an additional income and
            payment schema are created as well. Linked by userID, which is equal
            to user._id. each item in these arrays is an object with source: value
            and ammount: value-->
          <th>Additional Payments</th> <!-- This will be a push into an array -->
        </tr>
        <tr>
          <td>$<a href="#" data-reveal-id="moneyEditModal" ng-click="openMoneyEdit()">{{user.salary}}</a></td>
          <td>$<a href="#" data-reveal-id="takehomeEditModal" ng-click="openMoneyEdit()">{{user.takehome}}</a></td>
          <td>${{user.takehome - budgetCalc}}</td>   <!-- do some jquery magic to make this red if negative -->
          <td>Money in Stocks</td>
          <td><a href="#" data-reveal-id="budgetEditModal" ng-click="openEdit()">Edit</a></td>
          <td><button ng-click="deleteBudget()">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="large-4 small-4 columns">
  <form ng-submit="addBudget()">
    <input name="budgetName" ng-model="budget.budgetName" type = "text">
    <input name="monthlyPrice" ng-model="budget.monthlyPrice" type="number">
    <input name="necessityLevel" ng-model="budget.necessityLevel" type="number">
    <button type="submit">Submit</button>
  </form>
</div>

<div class="large-8 small-8 columns">
  Coupon information from the Groupon Api will go here.
  They can search for coupons, but it will also show suggestions based on what is in their budget.
</div>

<!-- Modals lie below -->
<div id="budgetEditModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Edit Your Budget</h2>
  <form ng-submit="editBudget(budget)">
    <input name="budgetName" ng-model="budget.budgetName" type = "text">
    <input name="monthlyPrice" ng-model="budget.monthlyPrice" type="number">
    <input name="necessityLevel" ng-model="budget.necessityLevel" type="number">
    <button type="submit">Submit</button>
  </form>
</div>
<div id="moneyEditModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Edit Your Salary</h2>
  <form ng-submit="editMoney(user)">
    <input name="salary" ng-model="user.salary" type = "text">
    <button type="submit">Submit</button>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="takehomeEditModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Edit Your Takehome</h2>
  <form ng-submit="editTakehome(user)">
    <input name="takehome" ng-model="user.takehome" type = "text">
    <button type="submit">Submit</button>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
