<div class="container">
  <div class="row">
    <p>Hello news page</p>
  </div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="small-12 columns">
        News Feeds: This will be more National news. Happenings, politics, etc. Home Country 
      </div>
      <div class="small-12 columns">
        News Feeds: This will be more World news.
      </div>
      <div class="small-12 columns">
        News Feeds: This will be more financial news. Home Country.
      </div>
      <div class="small-12 columns">
        News Feeds: This will be more financial news. World.
      </div>
    </div>
  </div>
</div>
